ALLOWED_ORIGIN=http://localhost:5173
APP_URL=http://localhost:5173

ZERO_BOUNCE_API_KEY=

BREVO_API_KEY=
BREVO_API_URL=
BREVO_EMAIL=
BREVO_SMTP_KEY=
ORG_NAME=
ORG_CONTACT=
ORG_ADDRESS=
EMAIL=

JWT_SECRET=replace_with_64_char_random_string_from_openssl_rand_hex_32
JWT_EXPIRY=86400

