@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins-Regular";
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("./assets/Poppins-Regular.ttf");
}

.title {
    font-family: "Times New Roman", serif;
}

.quote {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    font-style: italic;
    line-height: 1.5;
    margin: 40px;
}

.author {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    text-align: right;
    margin-right: 60px;
}

.mobile-menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease;
}

.mobile-menu.open {
    max-height: 500px; /* bigger than actual content */
}

input[type="date"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit {
    display: none;
}

input[type="date"],
input[type="time"] {
    display: flex;
    justify-content: space-between;
}

input[type="date"]::before,
input[type="time"]::before {
    content: attr(placeholder);
    display: block;
    color: #a3a8af;
}

input[type="date"]:valid::before {
    content: attr(value);
    color: black;
}

input[type="time"]:valid::before {
    content: "";
}

/* /* input[type=date]::-webkit-datetime-edit {
    display: none;
} */

/* input[type=date]::placeholder {
    content: "mm";
    display: block;
}  */

/* input[type="date"] {
    position: relative;
}

input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    left: 12px;
    color: #aaa;
}

input[type="date"]:valid::before,
input[type="date"]:focus::before {
    content: "";
} */
